html{
  background-color: black;
  background-image: url(/images/bg.jpg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  background-attachment: fixed;
  color:white;
}
.searchContainer {
  position: fixed;
  top: 30px;
  left: 24px;
  display:flex;
  z-index: 3;
}
.searchContainer form {
  display:flex;
}
.searchContainer input[type=text] {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;

  font-size: 17px;
  border: none;
}
.searchContainer button, #login, #cloudRetreive {
  padding: 6px 10px;

  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  display:inline-block;
}
.searchContainer button:hover, #login:hover, #cloudRetreive:hover {

  background: #aea8a8;

}

#login {
  top: 24px;
  right: 30px;
  position: fixed;
  font-size: 17px;
  padding: 12px 20px;
}

#cloudRetreive {
  top:100px;
  right: 30px;
  position: fixed;
  font-size: 17px;
  padding: 12px 20px;
}
.relitiveEls {
  
    margin: auto;
    min-height: 725px;
    width: 85%;
    margin-top: 100px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.6s ease-out;
}

#clock {
  font-family: Arial, Helvetica, sans-serif;
  margin:auto;
  text-align: center;
}
#clockTime {
    font-size: 72px;
    position: relative;
    /* font-family: "Lucida Console", "Courier New", monospace; */
}
#clockDate{
  font-size:24px;
}
#seccondHand {
    background: rgb(76 163 212 / 50%);
    width: 10px;
    height: 55px;
  top:20%;
    left:49.5%;
    position: absolute;
    display: inline-block;

  transition:transform .5s;
  z-index: 5;
}

/* Tab group code */
#tabGroups{
  margin-top:3em;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.tabGroup{
/*   display:flex; */
  height: 160px;
  text-align: center;
}


/* got from https://css-tricks.com/overriding-default-button-styles/ */
button.groupName{
  display: inline-block;
  border: none;
  /* padding: 1rem 2rem; */
  margin: 0;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover.groupName,
button:focus.groupName{
  background: #0053ba;
}

button:focus.groupName{
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active.groupName{
  transform: scale(0.99);
}

.groupName {

  /* code to make it look right */
    width: 90px;
    height:90px;
    text-align: center;
  padding:.25em;
    border-radius: 8px;
    display: inline-block;
    background: rgb(66 65 77 / 75%);
    color:rgba(255, 255, 255, 0.800000011920929);
  vertical-align: bottom;
  position: relative;
  opacity: 77%;
  
}
.groupName img{
  width: 40px;
  display:block;
  position:absolute;

  top:70%;
  left:50%;
  transform: translate(-50%, -50%);
  transition: width, 0.2s linear;
}
.tabGroup .tabList{
  visibility: hidden;
}
.tabGroup:hover .tabList, .tabGroup:focus .tabList, .tabGroup:focus-within .tabList  {
  visibility: visible;
  height: 100px;
  transition: height, 0.2s linear;
}
.groupName:hover .actionImg{
  width:50px;
}
.tabGroup:hover .groupName{
      background: rgb(106 104 120 / 74%);
}
.tabList{
  white-space: nowrap;

  width:160px;
  height:0;
  overflow: hidden;
  overflow-y: auto;
}
/* .tabList a {
  display: block;
} */

.tabList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.tabList li img {
  width: 24px;
}
 .tabList li a {
  color:white;
  text-decoration: none;
}
.tabList li{
    display: flex;
    gap: 4px;
  margin-bottom: .25em;
  align-items: center;
}

.innerButtonText {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
}

img.deleteButton {
  width: 16px;
  /* background: rgb(141 233 233);
  padding: 4px;
  border-radius: 4px;
  position: absolute;
  top: 3px;
  left: 133px; */
  /* transform: translate(-50%, -50%); */
}
button.deleteButt{
  background: rgb(141 233 233);
  padding: 4px;
  border-radius: 4px;
  position: absolute;
  top: 3px;
  left: 133px;
}

.deleteContainer {
  position: relative;
  /* align-items: center; */
  text-align: center;
}

#newGroups {
  /* margin-top: 3em; */
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: left;
  /* border-radius: 1em; */
  /* background: #2e5e5db3; */
  /* padding: 1em; */
}
#newGroups .tabGroup {
  height:unset;
  display: flex;
  padding: 1em;
  border-radius: 15px;
  flex: 1;
}

#newGroups .tabGroup .tabList {
  visibility: visible;
}

#newGroups .tabGroup:hover {
  background: rgb(106 104 120 / 74%);
  
}

#newGroups .tabList {
  height: 90px;
  margin-left: 1em;
  flex: 1;
  max-width: 430px;
}

.newGroupsContainer {
  margin-top: 3em;
  /* display: flex; */
  /* gap: 30px; */
  /* flex-wrap: wrap; */
  /* justify-content: left; */
  border-radius: 1em;
  background: #2e5e5db3;
  padding: 1em;
}
h3.sectionTitle {
  margin: 0;
  margin-bottom: 1em;
}

img.hoverImage {
  width: 14px;
}
.subtitle {
  font-style: italic;
  color: rgb(197 197 197);
  font-size: 12px;
}
.hoverText {
  display: block;
  overflow: hidden;
  height: 0px;
  transition: height .3s;
}
.subtitle:hover .hoverText {
  height: 18px;
  transition: height .3s;
}

.howTo {
  margin: auto;
  width: 90%;
  margin-top: 6em;
  align-items: center;
  display: block;
  /* text-align: center; */
}



@media screen and (max-width: 750px) {
  #newGroups .tabGroup {

    width: 100%;
}
#newGroups .tabList {

  width: 100%;
  max-width: unset;
}
}